/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  // font-smoothing: antialiased;
  font-weight: 300;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgba(34, 36, 38, 0) !important;
}

header {
  display: flex;
}

/**
 * Main Content
 */
.content {
  max-width: 77%;
  margin: 0 auto;
}

/**
 * NavBar
 */
.navbar {
  min-width: 100% !important;
}
.navbar-bg {
  background-color: transparent;
  border-bottom: 0px solid rgba(34, 36, 38, 0.15);
}
.navlinks {
  display: flex;
  justify-content: center;
  min-width: 100%;
  margin: 1px 0 -2px 0;
}
.navlink-margin-left {
  margin-left: 300px;
}
.navlink-margin-right {
  margin-right: 61vw;
}
/**
 * Header
 */
// .header-row {
//   min-height: 130px;
//   background-color: rgb(207, 233, 255);
// }
// .header-left {
//   width: 25%;
//   margin: 33px 0 0 4% !important;
// }
// .header-right {
//   width: 25%;
//   margin-top: -30px !important;
//   margin-right: -7% !important;
// }
// .header-center {
//   width: 50%;
//   text-align: center;
//   padding-top: 39px;
//   margin-left: 20% !important;
// }
// .header-item {
//   margin: auto;
//   vertical-align: middle;
// }

/**
 * SideNav
 */
.sidenav {
  margin: 5% 0 0 0;
}
.logo {
  font-size: 30px !important;
  margin: 5% 41% 0 0 !important;
}
.logo-area {
  margin-bottom: 20%;
}

/**
 * HomePage
 */
.kit-description-card {
  min-width: 110% !important;
  margin-top: 2% !important;
  margin-left: 2% !important;
}

.description-list {
  font-size: 17px;
  line-height: 25px;
}
